.custom-shape-divider-top-1707137073 {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707137073 svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 203px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1707137073 .shape-fill {
    fill: #ff4d4d;
}