.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
}

.Navbar__left {
    flex: 1;
}

.Navbar__logo {
    max-width: 100px; /* Adjust the max-width as needed */
}

.Navbar__center {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.Navbar__center ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Navbar__center li {
    position: relative;
    cursor: pointer;
    margin-right: 20px; /* Add margin between items */
}

.Navbar__dropdown {
    display: inline-block;
}

.Navbar__dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* Dropdown background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #333; /* Text color in the dropdown */
    min-width: 120px;
    border-radius: 8px; /* Rounded corners for the dropdown */
}

.Navbar__dropdown-content ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    
}

.Navbar__dropdown-content li {
    padding: 5px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: left;
}

.Navbar__dropdown-content li:hover {
    background-color: #f0f0f0; /* Background color on hover */
}

.Navbar__dropdown:hover .Navbar__dropdown-content {
    display: block;
}

.Navbar__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Navbar__button {
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.Navbar__profile {
    display: flex;
    align-items: center;
}

.Navbar__notification-icon,
.Navbar__user-icon {
    font-size: 20px;
    color: #ffffff;
    margin-right: 5px; /* Add margin to create a gap */
    transition: color 0.3s;
}

.Navbar__user-icon {
    margin-right: 10px; /* Additional margin for the user icon */
}

.Navbar__user-icon:hover,
.Navbar__notification-icon:hover {
    color: #f0f0f0;
    cursor: pointer;
}
